/* individual css styling */

body,
html {
    height: 95%;
}

header {
    background-color: white;
    border-bottom: 1px solid black;
    text-align: right;
    height: 90px;
    width: 100%;
}

footer {
    position: fixed;
    background-color: white;
    border-top: 1px solid black;
    bottom: 0px;
    width: 100%;
    height: 50px;
}

#testContent {
    /*overflow: hidden;*/
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 100px;
    bottom: 50px;
    width: 100%;
}

table,
td {
    border: 1px solid black;
}

table {
    border-spacing: 1px;
}

td {
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.table {
    margin: auto;
}

#scoring {
    border-collapse: collapse;
    font-size: inherit;
}

#scoring td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#scoring tr:nth-child(even) {
    background-color: #dddddd;
}

.automation {
    float: right;
    padding: 15px;
    width: 40%;
}

.matrix {
    width: 500px;
    float: left;
    padding: 15px;
    height: 45vh;
}

.matrix-trial {
    float: left;
    padding: 15px;
    width: 45%;
    height: 45vh;
}

.jspsych-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.message {
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jspsych-btn {
    margin: 5px;
}

.instruction {
    font-size: 15px;
    text-align: left;
    width: 70%;
    margin-left: 15%;
}

#timer {
    line-height: 0.1em;
}