/*jspsych css styling*/

@import "css/jspsych.css";

/* individual css styling */

header {
    background-color: white;
    border-bottom: 1px solid black;
    text-align: right;
}

footer {
    background-color: white;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0px;
}

#testContent {
    /*overflow: hidden;*/
    height: 100%;
}

table,
td {
    border: 1px solid black;
}

table {
    border-spacing: 1px;
}

td {
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.table {
    margin: auto;
}

#scoring {
    border-collapse: collapse;
    font-size: inherit;
}

#scoring td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#scoring tr:nth-child(even) {
    background-color: #dddddd;
}

.automation {
    float: right;
    padding: 15px;
}

#testContent {
    height: 100%;
}

.matrix {
    width: 500px;
    float: left;
    padding: 15px;
}

.message {
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jspsych-btn {
    margin: 5px;
}

.instruction {
    font-size: smaller;
    text-align: left;
}